@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Patua+One&family=Raleway&display=swap');

footer {
	width: 100%;
	background: lightgray;
	border-top: 1px solid lightgray;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;
		.pic {
			width: 60px;
			height: 60px;
			img {
				width: 100%;
				height: 100;
				object-fit: cover;
			}
		}
		.icon_set {
			position: absolute;
			top: 40px;
			right: 0;
			.icon {
				font-size: 25px;
				margin-right: 15px;
				color: #000;
			}
		}
		address {
			width: 100%;
			font: 14px/1.2 'PT Sans Narrow', sans-serif;
			color: #000;
			margin-bottom: 20px;
			margin-top: 0;
			padding: 20px 0;
			float: left;
			border-bottom: 1px solid #000;
			letter-spacing: 2px;
		}
		p {
			font: 14px/1.2 'PT Sans Narrow', sans-serif;
			color: #000;
			text-align: right;
			letter-spacing: 2px;
		}
	}
}

// 태블릿
@media screen and (max-width: $tablet) {
	footer {
		.inner {
			width: 100%;
		}
	}
}

// 모바일
@media screen and (max-width: $mp) {
}
