@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Patua+One&family=Raleway&display=swap');

.content {
	// background: rgb(248, 246, 244);
	background: #eee;
	figure {
		width: 100%;
		height: 350px;
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: grayscale(0.5);
		}
	}
	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 100px auto 0;
		padding-bottom: 200px;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 1s, transform 1s;
		h1 {
			font: normal 50px/1 'PT Sans Narrow', sans-serif;
			// color: rgb(119, 110, 99);
			color: #000;
			margin-bottom: 30px;
			text-align: left;
			&::after {
				content: '';
				display: block;
				width: 30%;
				margin-top: 30px;
				border: 2px solid #000;
			}
		}
		> p {
			width: 50%;
			font: 16px/1.2 'arial';
			color: #000;
			margin-bottom: 200px;
		}
	}
	&.on {
		figure {
			opacity: 1;
		}
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

// 태블릿
@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 200px;
		}
		> .inner {
			width: 100%;
			margin: 80px auto;
			padding: 0px 30px;
		}
	}
}

// 모바일
@media screen and (max-width: $mp) {
	.content {
		figure {
			height: 150px;
		}
	}
}
