.content {
	figure {
		width: 100%;
		height: 300px;
		background: rgb(177, 165, 149);
		transition: 1s;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
		> h1 {
			font: normal 60px/1 'arial';
			color: #000;
			text-align: center;
			z-index: 10;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 100px auto;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition: 1s;
	}
	&.on {
		figure {
			opacity: 1;
		}
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

// 태블릿
@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 200px;
		}
		> .inner {
			width: 100%;
			margin: 80px auto;
			padding: 0px 30px;
		}
	}
}

// 모바일
@media screen and (max-width: $mp) {
	.content {
		figure {
			height: 150px;
		}
	}
}
