.scroll_navi {
	position: fixed;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	li {
		width: 15px;
		height: 15px;
		background: #fff;
		border: 1px solid #777;
		border-radius: 10px;
		margin-bottom: 20px;
		cursor: pointer;
		transition: 0.5s;
		&.on {
			height: 100px;
			background: #333;
		}
	}
}
