@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Patua+One&family=Raleway&display=swap');

#news {
	width: 1180px;
	height: 60vh;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	margin-top: 150px;
	margin-bottom: 150px;
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	.wrap {
		width: 100%;
		height: 100%;
		position: relative;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		h2 {
			width: 30%;
			font: bold 36px/1 'Raleway', sans-serif;
			color: #000;
			float: left;
			margin-bottom: 100px;
			margin-right: 10%;
			position: absolute;
			left: 0;
			&::after {
				content: '';
				display: block;
				width: 30%;
				margin-top: 15px;
				border: 2px solid #000;
			}
		}
		> p {
			font: 16px/1.2 'Raleway', sans-serif;
			position: absolute;
			right: 0;
			color: #777;
			float: left;
			width: 60%;
			text-align: right;
		}
		article {
			float: left;
			width: 25%;
			height: 30vh;
			margin-top: 15%;
			cursor: pointer;
			border: 1px solid #999;
			background: #333;
			padding: 30px;
			transition: 0.5s;
			overflow: hidden;
			text-overflow: ellipsis;
			h3 {
				font: bold 20px/1 'Raleway', sans-serif;
				color: #fff;
				margin-bottom: 20px;
			}
			p {
				font: 14px/1.3 'Raleway', sans-serif;
				color: #fff;
			}
			&:hover {
				background: rgb(199, 134, 12);
				h3 {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
	}
}

// 태블릿
@media screen and (max-width: $tablet) {
	#news {
		padding: 30px;
		width: 100%;
		.wrap {
			article {
				margin-top: 20%;
				h3 {
					font: bold 18px/1 'Raleway', sans-serif;
				}
				p {
					font: 12px/1.3 'Raleway', sans-serif;
				}
			}
		}
	}
}

// 모바일
@media screen and (max-width: $mp) {
	#news {
		height: 150vh;
		margin-bottom: 50px;
		.wrap {
			h2 {
				&::after {
					width: 50%;
				}
			}
			> p {
				display: none;
			}
			article {
				width: 100%;
				height: 15%;
				margin-top: 20px;
				&:nth-of-type(1) {
					margin-top: 100px;
				}
				h3 {
					font: bold 16px/1 'Raleway', sans-serif;
				}
				p {
					font: 13px/1.3 'Raleway', sans-serif;
				}
			}
		}
	}
}
