#story {
	width: 100%;
	height: 900px;
	background: #fff;
	overflow: hidden;
	.story_head {
		width: 100%;
		height: 300px;
		margin: 0 auto;
		background: #eee;
		.wrap {
			width: 1180px;
			height: 100%;
			margin: 0 auto;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: 280px;
				height: 100%;
				margin-right: 20px;
				padding: 60px;
				float: left;
				&:last-child {
					margin-right: 0;
				}
				.con {
					width: 160px;
					height: 160px;
					position: relative;
					.pic {
						width: 100%;
						height: 100%;
						// padding: 20px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					p {
						font: 16px/1 'arial';
						color: #000;
						text-align: center;
						position: absolute;
						bottom: -40px;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
	.story_content {
		width: 1180px;
		margin: 0 auto;
		height: 600px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			height: 100%;
			float: left;
			&:nth-of-type(1) {
				// border: 1px solid red;
				width: 50%;
				padding: 100px 30px;
				h1 {
					font: bold 38px/1 'arial';
					color: #000;
					text-align: right;
					margin-bottom: 5px;
				}
				h2 {
					font: 40px/1 'arial';
					color: #333;
					text-align: right;
					margin-bottom: 10px;
				}
				h3 {
					font: 14px/1.2 'arial';
					color: #999;
					text-align: right;
					margin-bottom: 20px;
				}
				p {
					font: 16px/1.2 'arial';
					color: #333;
					text-align: right;
					&:nth-of-type(2) {
						margin-bottom: 50px;
					}
				}
				button {
					float: right;
					border: none;
					background: #fff;
					font: bold 14px/1 'arial';
					color: #333;
					cursor: pointer;
					padding: 5px;
					border-bottom: 2px solid #333;
					transition: 0.5s;
					&:hover {
						background: #333;
						color: #fff;
					}
				}
			}
			&:nth-of-type(2) {
				// border: 1px solid red;
				width: 50%;
				.swiper {
					width: 100%;
					height: 100%;
					overflow: hidden;
					.swiper-slide {
						width: 100%;
						.pic {
							width: 400px;
							height: 550px;
							padding: 60px 0 10px;
							margin: 0 auto;
							img {
								width: 100%;
								height: 100%;
								border-radius: 50%;
								object-fit: cover;
							}
						}
					}
				}
			}
		}
	}
}
