.About {
	h2 {
		font: bold 25px/1 'arial';
		color: #000;
		padding-bottom: 20px;
	}
	.story {
		margin-top: 30px;
		margin-bottom: 150px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		.storyPic {
			float: left;
			width: 25%;
			height: 350px;
			padding: 10px;
			> img {
				width: 100%;
				height: 100%;
				object-fit: fill;
			}
		}
		.slogan {
			float: right;
			width: 75%;
			height: 350px;
			padding: 10px;
			> h3 {
				font: 20px/1 'arial';
				color: #000;
			}
			> p {
				font: 16px/1 'arial';
				color: #555;
				margin-top: 10px;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 100px;
				}
			}
		}
	}
	.memberList {
		margin-top: 20px;
		margin-bottom: 200px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		li {
			float: left;
			width: 25%;
			position: relative;
			.pic {
				width: 100%;
				padding: 10px;
				img {
					width: 100%;
					height: 300px;
					object-fit: cover;
					filter: grayscale(1);
					cursor: pointer;
				}
			}
			.content {
				width: 100%;
				height: 100%;
				> p {
					font: 18px/1.2 'arial';
					color: #fff;
					margin-bottom: 20px;
					position: absolute;
					bottom: 20%;
					left: 50%;
					transform: translateX(-50%);
					transition: 0.5s;
					opacity: 0;
				}
				h3 {
					margin-top: 15px;
					margin-bottom: 10px;
					font: bold 24px/1 'arial';
					color: orangered;
					position: absolute;
					bottom: 15%;
					left: 50%;
					transform: translateX(-50%);
					transition: 0.5s;
					opacity: 0;
				}
				.icon {
					font-size: 20px;
					color: #fff;
					opacity: 0;
					transition: 0.5s;
					&:nth-of-type(1) {
						position: absolute;
						bottom: 5%;
						left: 40%;
						transform: translate(-50%, -50%);
					}
					&:nth-of-type(2) {
						position: absolute;
						bottom: 5%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
					&:nth-of-type(3) {
						position: absolute;
						bottom: 5%;
						left: 60%;
						transform: translate(-50%, -50%);
					}
				}
			}
			&:hover .content h3,
			&:hover .content p,
			&:hover .content .icon {
				opacity: 1;
			}
		}
	}
}
