.Community {
	.inputBox {
		width: 100%;
		margin-bottom: 50px;
		position: relative;
		h2 {
			font: 18px/35px 'arial';
			color: #fff;
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
			height: 35px;
			text-align: center;
			background: #777;
		}
		input[type='text'] {
			margin-top: 20px;
			margin-bottom: 10px;
			width: 100%;
			height: 40px;
			border: none;
			margin-top: 30px;
			font: 16px/40px 'arial';
		}
		input[placeholder] {
			padding: 0px 20px;
		}
		textarea {
			width: 100%;
			height: 200px;
			resize: none;
			border: none;
			font: 16px/1.2 'arial';
		}
		textarea[placeholder] {
			padding: 20px;
		}
		> button {
			width: 48%;
			height: 28px;
			margin-right: 4%;
			margin-top: 10px;
			font: 14px/1 'arial';
			color: #fff;
			border: none;
			background: #333;
			cursor: pointer;
			transition: 0.5s;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background: orange;
			}
		}
	}
	.showBox {
		width: 100%;
		margin-top: 100px;
		margin-bottom: 50px;
		position: relative;
		article {
			background: #fff;
			padding: 40px 50px 20px;
			position: relative;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			input[type='text'] {
				margin-top: 5px;
				margin-bottom: 10px;
				width: 70%;
				height: 30px;
				margin-left: 10%;
			}
			textarea {
				width: 70%;
				height: 70px;
				margin-left: 10%;
				resize: none;
			}
			.co_header {
				width: 100%;
				height: 35px;
				font: 18px/35px 'arial';
				color: #fff;
				background: #777;
				position: absolute;
				top: 0;
				left: 0;
				padding: 0 50px;
			}
			.num {
				width: 10%;
				float: left;
				font: bold 35px/75px 'arial';
				text-align: center;
				// border: 1px solid green;
			}
			h3 {
				width: 70%;
				margin-left: 10%;
				height: 30px;
				float: left;
				font: bold 18px/30px 'arial';
				color: #000;
				margin-top: 5px;
				margin-bottom: 10px;
				text-align: center;
			}
			p {
				width: 70%;
				margin-left: 10%;
				float: left;
				font: 14px/1.2 'arial';
				color: #000;
				text-align: center;
			}
			.btns {
				width: 20%;
				position: absolute;
				top: 50%;
				right: 10px;
				text-align: right;
				button {
					margin-left: 5px;
					width: 50px;
					height: 30px;
					border: none;
					background: #333;
					font: 12px/20px 'arial';
					color: #fff;
					cursor: pointer;
					transition: 0.5s;
					&:hover {
						background: orange;
					}
				}
			}
		}
	}
}
