.Gallery {
	.loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
	}
	.searchBox {
		margin-bottom: 30px;
		padding-right: 10px;
		text-align: right;
		position: relative;
		input[type='text'] {
			width: 200px;
			border: none;
			color: #777;
			font: 17px/1 'arial';
			border-bottom: 2px solid #777;
			background: #eee;
			padding-bottom: 5px;
			&:focus {
				outline: none;
			}
		}
		.search_btn {
			border: none;
			font: 22px/1 'arial';
			color: #777;
			position: absolute;
			bottom: 5px;
			right: 15px;
			cursor: pointer;
		}
	}
	.frame {
		transform: translateY(200px);
		opacity: 0;
		transition: 1s;
		&.on {
			transform: translateY(0);
			opacity: 1;
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 25%;
			float: left;
			padding: 10px;
			transition: 0.5s;
			&:hover {
				background: #333;
				.inner h2 {
					color: #eee;
				}
				.inner .pic img {
					transform: scale(1.03);
				}
			}
			.inner {
				width: 100%;
				padding: 10px;
				.pic {
					width: 100%;
					margin-bottom: 5px;
					cursor: pointer;
					transition: 0.5s;
					img {
						width: 100%;
						object-fit: cover;
						transition: 0.5s;
					}
				}
				h2 {
					font: normal 14px/1.2 'arial';
					letter-spacing: 1px;
					color: #333;
					margin-top: 10px;
					margin-bottom: 10px;
					word-wrap: break-word; // 글자단위로 줄바꿈
					text-align: center;
				}
			}
		}
	}
}
