.Gallery {
	.loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
	}
	.searchBox {
		margin-bottom: 30px;
		padding-right: 10px;
		text-align: right;
		position: relative;
		input[type='text'] {
			width: 200px;
			border: none;
			color: #777;
			font: 17px/1 'arial';
			border-bottom: 2px solid #777;
			background: #eee;
			padding-bottom: 5px;
			&:focus {
				outline: none;
			}
		}
		.search_btn {
			border: none;
			font: 22px/1 'arial';
			color: #777;
			position: absolute;
			bottom: 5px;
			right: 15px;
			cursor: pointer;
		}
	}
	.frame {
		transform: translateY(200px);
		opacity: 0;
		transition: 1s;
		&.on {
			transform: translateY(0);
			opacity: 1;
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 25%;
			float: left;
			padding: 10px;
			// border: 1px solid #000;
			.inner {
				width: 100%;
				.pic {
					width: 100%;
					margin-bottom: 5px;
					cursor: pointer;
					transition: 1s;
					box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
					img {
						width: 100%;
						object-fit: cover;
						filter: grayscale(0.7);
						&:hover {
							filter: grayscale(0);
						}
					}
				}
				// h2 {
				// 	font: normal 14px/1.2 'arial';
				// 	color: #777;
				// 	margin-bottom: 10px;
				// 	// word-wrap: normal   // 단어단위로 줄바꿈
				// 	word-wrap: break-word; // 글자단위로 줄바꿈
				// }
				// .profile {
				// 	display: flex;
				// 	justify-content: flex-start;
				// 	align-items: center;
				// 	img {
				// 		width: 40px;
				// 		height: 40px;
				// 		object-fit: cover;
				// 	}
				// 	span {
				// 		font: 12px/1 'arial';
				// 		color: orange;
				// 		margin-left: 10px;
				// 		cursor: pointer;
				// 		&:hover {
				// 			color: aqua;
				// 		}
				// 	}
				// }
			}
		}
	}
}
