.Location {
	h2 {
		font: bold 26px/1 'arial';
		color: #000;
		padding-bottom: 15px;
		&::after {
			content: '';
			display: block;
			width: 100%;
			margin-top: 10px;
			border: 1px solid #999;
		}
	}
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	.wrap {
		width: 100%;
		article {
			width: 280px;
			height: 180px;
			margin-right: 20px;
			margin-top: 50px;
			margin-bottom: 220px;
			float: left;
			// background: #fff;
			position: relative;
			&:last-child {
				margin-right: 0;
			}
			.icon {
				font-size: 35px;
				position: absolute;
				top: 10%;
				left: 50%;
				transform: translateX(-50%);
				color: #777;
			}
			.con {
				width: 100%;
				position: absolute;
				top: 60%;
				left: 50%;
				transform: translateX(-50%);
				h3 {
					font: bold 20px/1 'arial';
					color: #666;
					margin-bottom: 20px;
					text-align: center;
				}
				p {
					font: 16px/1 'arial';
					color: #666;
					text-align: center;
				}
			}
		}
	}
	#map {
		width: 100%;
		height: 500px;
		background: #000;
		margin-top: 40px;
		margin-bottom: 20px;
		filter: grayscale(0.7);
		transition: 0.5s;
		&:hover {
			filter: grayscale(0.2);
		}
	}
	button {
		width: 150px;
		height: 40px;
		background: #fff;
		border: none;
		font: bold 15px/40px 'arial';
		color: #fff;
		background: #333;
		cursor: pointer;
	}
	.branch {
		float: right;
		text-align: center;
		width: 40%;
		li {
			width: 32%;
			height: 40px;
			float: left;
			margin-left: 2%;
			background: #fff;
			cursor: pointer;
			transition: 0.5s;
			h3 {
				font: bold 15px/40px 'arial';
				color: #555;
			}
			&:nth-of-type(1) {
				margin-left: 0;
			}
			&.on {
				background: #333;
				h3 {
					color: #fff;
				}
			}
		}
	}
}
