@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Patua+One&family=Raleway&display=swap');

.Location {
	h2 {
		font: bold 20px/1 'Raleway', sans-serif;
		color: #000;
		padding-bottom: 20px;
		&::after {
			content: '';
			display: block;
			width: 100%;
			margin-top: 10px;
			border: 1px solid #999;
		}
	}
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	.wrap {
		width: 100%;
		article {
			width: 280px;
			height: 180px;
			margin-right: 20px;
			margin-top: 50px;
			margin-bottom: 220px;
			float: left;
			// background: #fff;
			position: relative;
			&:last-child {
				margin-right: 0;
			}
			.icon {
				font-size: 35px;
				position: absolute;
				top: 10%;
				left: 50%;
				transform: translateX(-50%);
				color: #777;
			}
			.con {
				width: 100%;
				position: absolute;
				top: 60%;
				left: 50%;
				transform: translateX(-50%);
				h3 {
					font: bold 20px/1 'Raleway', sans-serif;
					color: #666;
					margin-bottom: 20px;
					text-align: center;
				}
				p {
					font: 16px/1 'Raleway', sans-serif;
					color: #666;
					text-align: center;
				}
			}
		}
	}
	#map {
		width: 100%;
		height: 500px;
		background: #000;
		margin-top: 40px;
		margin-bottom: 20px;
		filter: grayscale(0.7);
		transition: 0.5s;
		&:hover {
			filter: grayscale(0.2);
		}
	}
	button {
		width: 150px;
		height: 40px;
		background: #fff;
		border: none;
		font: bold 15px/40px 'Raleway', sans-serif;
		color: #fff;
		background: #333;
		cursor: pointer;
	}
	.branch {
		float: right;
		text-align: center;
		width: 40%;
		li {
			width: 32%;
			height: 40px;
			float: left;
			margin-left: 2%;
			background: #fff;
			cursor: pointer;
			transition: 0.5s;
			h3 {
				font: bold 15px/40px 'Raleway', sans-serif;
				color: #555;
			}
			&:nth-of-type(1) {
				margin-left: 0;
			}
			&.on {
				background: #333;
				h3 {
					color: #fff;
				}
			}
		}
	}
}

// 태블릿
@media screen and (max-width: $tablet) {
	.Location {
		padding-bottom: 100px;
		.wrap {
			article {
				width: 25%;
				margin-right: 0;
				.icon {
					font-size: 32px;
				}
				.con {
					h3 {
						font: bold 17px/1 'Raleway', sans-serif;
					}
					p {
						font: 14px/1 'Raleway', sans-serif;
					}
				}
			}
		}
		#map {
			height: 450px;
		}
		button {
			width: 130px;
			height: 35px;
			font: bold 13px/35px 'Raleway', sans-serif;
		}
		.branch {
			li {
				width: 31%;
				height: 35px;
				margin-left: 3%;
				h3 {
					font: bold 13px/35px 'Raleway', sans-serif;
				}
			}
		}
	}
}

// 모바일
@media screen and (max-width: $mp) {
	.Location {
		.wrap {
			article {
				width: 50%;
				height: 150px;
				margin-bottom: 50px;
				&:last-child {
					margin-bottom: 100px;
				}
				.icon {
					font-size: 25px;
				}
				.con {
					h3 {
						font: bold 16px/1 'Raleway', sans-serif;
					}
					p {
						font: 12px/1 'Raleway', sans-serif;
					}
				}
			}
		}
		#map {
			height: 350px;
		}
		button {
			width: 100px;
			height: 30px;
			font: bold 12px/30px 'Raleway', sans-serif;
		}
		.branch {
			width: 60%;
			li {
				height: 30px;
				h3 {
					font: bold 12px/30px 'Raleway', sans-serif;
				}
			}
		}
	}
}
